<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p> {{title}} </p>
        <p> {{bikes[1]}} </p>
         
        <p> {{hello() }} </p>

        <!-- directives -->
        <img v-bind:src="photo" v-bind:alt="alt"> 
        <hr>
        <a v-bind:href="link">click me</a>
        <hr>
        <p v-text="hi"></p>
        <p v-html="yes"></p>
        
        
        <!--conditional rendering -->
        <p v-if="checkValidity()" > You are allowed to go</p> 

        <p v-else-if="user_name === 'joh1n'"> you can go</p>

         <p v-else>You are not allowed to go</p>
         
         <p v-show="user_name == 'john'">show name </p>
         <p v-show="user_name !== 'john'">do not show name </p>

         <!-- loop in array -->
         <p v-for="(bike,index) in bikes">
            {{index}} : {{bike}}
        </p>
        
        <!-- loop in object -->
        <p v-for="(value,key,index) in users">
            {{index}} : {{key}} : {{value}}
        </p>

        <!-- loop print 1 to 10 -->
        <p v-for="n in 10">
            {{n}}
        </p>
   </div>

    <script src="app.js"></script>
</body>
</html> 